@import "bootstrap/dist/css/bootstrap.min.css";

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280,0,0,0.7%29' stroke-width='2'  stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

// Ajuste global para contenido por debajo del navbar fijo
$nav-height: 68px; // ajustalo si cambias padding del navbar

body {
  padding-top: $nav-height;
  // opcional: background general, tipografía, etc.
  // font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
